<header>
  <div class="header container">
    <div class="header-logo">
      Logo company
    </div>
    <div class="header-menu">
      <div class="header-menu_list">
          <a href="#" class="header-menu_item">
            <span>About me</span>
          </a>
          <a href="#" class="header-menu_item">
            <span>Relationships</span>
          </a>
          <a href="#" class="header-menu_item">
            <span>Requirements</span>
          </a>
          <a href="#" class="header-menu_item">
            <span>Users</span>
          </a>
          <a href="#" class="header-menu_item">
            <span>Sing Up</span>
          </a>
      </div>
    </div>
    <div class="header-login">
        <span>Login</span>
        <svg-icon src="../assets/svg/sign-out.svg"></svg-icon>
    </div>
  </div>
</header>
