<footer>
  <div class="footer-content">
   <div class="container">
     <div class="footer-content_top">
       <div class="footer-content_logo">
         Logo company
       </div>
       <div class="menu_list">
         <a href="#" class="menu_list-item">
           About me
         </a>
         <a href="#" class="menu_list-item">
           Relationships
         </a>
         <a href="#" class="menu_list-item">
            Requirements
         </a>
         <a href="#" class="menu_list-item">
           Users
         </a>
         <a href="#" class="menu_list-item">
           Sing Up
         </a>
       </div>
     </div>
     <div class="footer-content_center">
       <div class="footer_contact">
         <div class="footer_contact-item">
           <svg-icon src="../assets/svg/mail.svg"></svg-icon>
           company@email.com</div>
         <div class="footer_contact-item">
           <svg-icon src="../assets/svg/phone.svg"></svg-icon>
           +38 (099) 999 99 99</div>
       </div>
       <div class="footer_info">
         <div class="footer_info-item">
           <a href="#">News</a>
         </div>
         <div class="footer_info-item">
           <a href="#">Blog</a>
         </div>
       </div>
     </div>
     <div class="footer-content_bottom">
       <p>test task</p>
     </div>
   </div>
  </div>
</footer>
