<div class="content-info">
  <div class="content-info_title title">
    Let's get ac quainted
  </div>
  <div class="content-info_body">
    <div class="container">
      <div class="row">
        <div class="col col-lg-4 col-md-12 _pt-med">
          <svg-icon src="../assets/svg/man-mobile.svg"></svg-icon>
        </div>
        <div class="col col-lg-8 col-md-12 _text-left">
          <div class="content-info_subtitle">
            I am cool frontend developer
          </div>
          <div class="content-info_text">
            When real users have a slow experience on mobile, they're much less likely to find what they are looking for or purchase from you in the future. For many sites this equates to a huge missed opportunity, especially when more than half of visits are abandoned if a mobile page takes over 3 seconds to load.
          </div>
          <div></div>
          <div class="content-info_text">  Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on the web.
          </div>
          <a class="content-info_link" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-info_title title">
    About my relationships with <br>
    web-development
  </div>
  <div class="container p-0">
    <div class="row">
      <div class="col col-lg-4 col-md-12">
       <div class="content-info_item">
          <div class="content-info_icon">
            <svg-icon src="../assets/svg/html.svg"></svg-icon>
          </div>
         <div class="content-info_subtitle">
           I'm in love with HTML
         </div>
         <div class="content-info_text">
           Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.
         </div>
       </div>
      </div>
      <div class="col col-lg-4 col-md-12">
       <div class="content-info_item">
          <div class="content-info_icon">
            <svg-icon src="../assets/svg/css.svg"></svg-icon>
          </div>
           <div class="content-info_subtitle">
           CSS is my best friend
         </div>
          <div class="content-info_text">
           Cascading Style Sheets (CSS) is a  style sheet language used for describing the presentation
           of a document written in a markup language
           like HTML.
         </div>
       </div>
      </div>
      <div class="col col-lg-4 col-md-12">
       <div class="content-info_item">
          <div class="content-info_icon">
            <svg-icon src="../assets/svg/javascript.svg"></svg-icon>
          </div>
          <div class="content-info_subtitle">
           JavaScript is my passion
         </div>
          <div class="content-info_text">
           JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
